<button class="ms-5 mt-5 btn btn-primary" (click)="volverAtras()">Volver</button>
<div class="container p-5 d-flex justify-content-center align-items-center" style="height: 60vh;">

    <div class="form-container shadow rounded-4 p-4">
        <h1 class="mb-4 text-center">Agregar saldo</h1>
        <h4 class="mb-3">Numero de cuenta: {{cliente?.cuenta}}</h4>
        
        <div class="form-group mb-2">
            <label for="">Agregue el saldo:</label>
            <input class="form-control" [(ngModel)]="recarga" type="number" min="1">
        </div>
        
        <button class="btn btn-primary w-100" [disabled]="recarga < 1" (click)="agregarSaldo()">Agregar saldo</button>
    </div>
</div>



