<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>RUT</th>
                <th>nombre</th>
                <th>apellido</th>
                <th>cuenta</th>
                <th>saldo</th>
                <th>estado</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
    
        <tbody>
            <tr *ngFor="let cliente of clientes">
                <th>{{cliente.rut}}</th>
                <th>{{cliente.nombre}}</th>
                <th>{{cliente.apellido}}</th>
                <th>{{cliente.cuenta}}</th>
                <th>{{cliente.saldo}}</th>
                <th>{{cliente.estado}}</th>
    
                <th>
                    <button class="btn btn-primary me-2" [disabled]="cliente.estado == '0'" [routerLink]="['/agregarSaldo', cliente.rut]">Agregar saldo</button>
                    <button class="btn btn-primary me-2" [disabled]="cliente.saldo < 1" [routerLink]="['/comprarProducto', cliente.rut]">Comprar Producto</button>
                    <button class="btn btn-primary me-2" [routerLink]="['/verHistoricos', cliente.rut]">Ver Historicos</button>
                    <button class="btn btn-primary me-2" (click)="editarNombre(cliente.rut)">Editar Nombre</button>
                </th>
            </tr>
        </tbody>
    </table>
</div>