<div class="container">
    <button class=" btn btn-primary mt-3" (click)="volverAtras()">Volver</button>
    
    <h1 class="text-center mb-2">Tabla de historicos</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Descripcion</th>
                <th>Compra</th>
                <th>Recarga</th>
                <th>Categoria</th>
            </tr>
        </thead>
    
        <tbody>
            <tr *ngFor="let historico of historicos">
                <td>{{historico.descripcion}}</td>
                <td>{{historico.compra}}</td>
                <td>{{historico.recarga}}</td>
                <td>{{historico.categoria}}</td>
            </tr>
            <tr>
                <td>TOTAL</td>
                <td>{{total_compra}}</td>
                <td>{{total_recarga}}</td>
            </tr>
            <tr>
                <td>SALDO</td>
                <td></td>
                <td>+{{total_recarga - total_compra}}</td>
            </tr>
        </tbody>
    </table>
</div>


<pre>{{historicos | json}}</pre>