<button class="ms-5 mt-5 btn btn-primary" (click)="volverAtras()">Volver</button>

<div class="container p-5 d-flex justify-content-center align-items-center" style="height: 65vh;">
    
    <div class="form-container shadow rounded-4 p-4">
        <h1 class="text-center mb-4">Comprar productos</h1>
        
        <h4 class="">Saldo actual: {{cliente?.saldo}}</h4>

        <div class="form-group mb-3">
            <label for="">Productos:</label>
            <select class="ms-2" [(ngModel)]="producto" (change)="productoSeleccionado(producto)" >
                <option *ngFor="let producto of productos" [ngValue]="producto">
                    {{producto.descripcion}} Precio: {{producto.precio}}
                </option>
            </select>
        </div>

        <label for="">Ingrese categoria:</label>
        <input type="text" [(ngModel)]="categoria">
        
        <button class="btn btn-primary w-100" [disabled]="precio > (cliente?.saldo || 0) || precio == 0" (click)="comprarProducto()">Comprar</button>
    </div>
</div>